@{ 
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<div class="content">

    <div class="container-fluid">
        <div class="page-title-box">

            <div class="row align-items-center ">
                <div class="col-md-8">
                    <div class="page-title-box">
                        <h4 class="page-title">Pricing</h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0);">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0);">Pricing</a>
                            </li>
                            <li class="breadcrumb-item active">Dues</li>
                        </ol>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="float-right d-none d-md-block app-datepicker">
                        <input type="text" class="form-control" data-date-format="MM dd, yyyy" readonly="readonly" id="datepicker">
                        <i class="mdi mdi-chevron-down mdi-drop"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- end page-title -->

        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="text-center mt-3">
                    <h4 class="mt-0">Choose your Plan</h4>
                    <p class="text-muted">Select plan according to your need</p>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-xl-3 col-md-6">
                <div class="card mt-4">
                    <div class="p-4 text-center">
                        <h4>Players</h4>
                        <p class="text-muted">Sighup as player and get unlimited benefits</p>
                        <h2 class="text-info mb-0">1000Rs. <span class="text-muted  font-16">/month</span></h2>
                    </div>
                    <hr>
                    <div class="p-4 text-muted">
                    </div>

                    <div class="p-4 mb-2 text-center">
                        <button type="button" class="btn btn-info waves-effect w-100 waves-light">Pay Monthly Charges</button>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6">
                <div class="card mt-4">
                    <div class="p-4 text-center">
                        <h4>Coachs</h4>
                        <p class="text-muted">Sighup as coach and get unlimited benefits and opportunities to get hired</p>
                        <h2 class="text-warning mb-0">2000Rs. <span class="text-muted  font-16">/Registration</span></h2>
                    </div>
                    <hr>
                    <div class="p-4 text-muted">
                    </div>

                    <div class="p-4 mb-2 text-center">
                        <button type="button" class="btn btn-warning waves-effect w-100 waves-light">Dues Pending? Pay Now</button>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6">
                <div class="card mt-4">
                    <div class="p-4 text-center">
                        <h4>Clubs</h4>
                        <p class="text-muted">Sighup as club and get unlimited top coachs and players and create teams, schedule matchs and many more</p>
                        <h2 class="text-primary mb-0">2000Rs. <span class="text-muted  font-16">/month</span></h2>
                    </div>
                    <hr>
                    <div class="p-4 text-muted">
                    </div>

                    <div class="p-4 mb-2 text-center">
                        <button type="button" class="btn btn-primary waves-effect w-100 waves-light">Pay Monthly Charges</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="card mt-4">
                <div class="p-4 text-center">
                    <p>Pay according to your plan every month till 5 of the month, Else your account will be locked accordig to your plan. You can send the payment to this Jazzcash number (+92xxxxxxxxx)</p>
                </div>
                <!-- container-fluid -->
            </div>
        </div>

