@model List<users>
<title>Welcome to JZ Sports Zone | Open Directory For Sports Clubs</title>
<!-- Slider Holder -->
<div class="slider-holder">

    <!-- Banner slider -->
    <ul id="main-slides" class="main-slides">

        <!-- Itme -->
        <li>
            <div id="animated-slider" class="carousel slide carousel-fade">

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">

                    <!-- Item -->
                    <div class="item active">
                        <img src="~/themes/default/images/banner-slider/img-01.jpg" alt="">
                        <div class="position-center-x full-width">
                            <div class="container">
                                <div class="banner-caption style-1 p-white h-white pull-right">
                                    <h1 class="animated fadeInUp delay-1s">Good is not Good <br>When Better is<br> Expected</h1>
                                    <p class="animated fadeInUp delay-2s">90 Minutes Every Live Match Played with Friend and the Match</p>
                                    <a class="btn lg red-btn animated fadeInRight delay-3s" href="#"><i>+</i>Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Item -->
                    <!-- Item -->
                    <div class="item">
                        <img src="~/themes/default/images/banner-slider/img-02.jpg" alt="">
                        <div class="position-center-x full-width">
                            <div class="container">
                                <div class="banner-caption style-2 p-white h-white pull-left">
                                    <h1 class="animated fadeInUp delay-1s">Good is not Good <br>When Better is<br> Expected</h1>
                                    <p class="animated fadeInUp delay-2s">90 Minutes Every Live Match Played with Friend and the Match</p>
                                    <a class="btn lg red-btn animated fadeInRight delay-3s" href="#"><i>+</i>Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Item -->
                    <!-- Item -->
                    <div class="item">
                        <img src="~/themes/default/images/banner-slider/img-03.jpg" alt="">
                        <div class="position-center-x full-width">
                            <div class="container">
                                <div class="banner-caption style-2 p-white h-white pull-left">
                                    <h1 class="animated fadeInUp delay-1s">Good is not Good <br>When Better is<br> Expected</h1>
                                    <p class="animated fadeInUp delay-2s">90 Minutes Every Live Match Played with Friend and the Match</p>
                                    <a class="btn lg red-btn animated fadeInRight delay-3s" href="#"><i>+</i>Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Item -->

                </div>
                <!-- Wrapper for slides -->
                <!-- Nan Control -->
                <!-- <a class="slider-nav next" href="#animated-slider" data-slide="prev"><i class="fa fa-long-arrow-right"></i></a>
                <a class="slider-nav prev" href="#animated-slider" data-slide="next"><i class="fa fa-long-arrow-left"></i></a> -->
                <!-- Nan Control -->
                <!-- Indicators -->
                <ul class="carousel-indicators">
                    <li data-target="#animated-slider" data-slide-to="0" class="active"></li>
                    <li data-target="#animated-slider" data-slide-to="1"></li>
                    <li data-target="#animated-slider" data-slide-to="2"></li>
                </ul>
                <!-- Indicators -->

            </div>
        </li>
        <!-- Itme -->
        <!-- Itme -->
        <li>
            <img src="~/themes/default/images/banner-bgs/img-03.jpg" alt="">
            <div class="video-banner-caption position-center-center p-white h-white">
                <h1>Continuous effort  not strength or<br> intelligence  is the key to unlocking our potential</h1>
                <p>Hart's short pass wasn't controlled by Fernando, and the Swedish striker's tackle<br> resulted in the ball rolling into the net. While the bulk</p>
                <ul class="btn-list">
                    <li><a class="btn lg red-btn" href="http://www.youtube.com/watch?v=cH6kxtzovew" data-rel="prettyPhoto[video]">watch video<i class="fa fa-play-circle"></i></a></li>
                    <li><a class="btn lg red-btn" href="#">More videos<i class="fa fa-angle-right"></i></a></li>
                </ul>
            </div>
        </li>
        <!-- Itme -->
        <!-- Itme -->
        <li>
            <img src="~/themes/default/images/banner-bgs/img-01.jpg" alt="">
            <div class="position-center-center">
                <div class="container theme-padding">
                    <div class="pager-heading match-detail h-white">
                        <div class="vs-match-heading position-center-center">
                            <a href="/matchs" class="btn btn-danger">See All Scheduled Matchs</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <!-- Itme -->
        <!-- Itme -->
        <li>
            <img src="~/themes/default/images/banner-bgs/img-02.jpg" alt="">
            <div class="position-center-center">
                <div class="container theme-padding">
                    <div class="pager-heading match-detail h-white">
                        <div class="vs-match-heading position-center-center">
                            <a href="/match-results" class="btn btn-danger">See All Results</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <!-- Itme -->

    </ul>
    <!-- Banner slider -->
    <!-- Slides Thmnail -->
    <div class="main-slides-thumb">
        <div class="container">
            <ul id="slides-thmnail" class="slides-thmnail">
                <li>
                    <span><i class="fa fa-sliders"></i>Slides</span>
                </li>
                <li>
                    <span><i class="fa fa-play-circle"></i>Video</span>
                </li>
                <li>
                    <span><i class="fa fa-soccer-ball-o"></i>Matchs</span>
                </li>
                <li>
                    <span><i class="fa fa-bar-chart"></i>Resutls</span>
                </li>
            </ul>
            <ul class="thmnail-arrows">
                <li class="prev-1"><span class="icon-arrow-01"></span></li>
                <li class="next-1"><span class="icon-arrow-01"></span></li>
            </ul>
        </div>
    </div>
    <!-- Slides Thmnail -->

</div>
<!-- Slider Holder -->
<!-- Main Content -->
<main class="main-content">

    <!-- Match Detail -->
    <section class="theme-padding-bottom bg-fixed">
        <div class="container">

            <!-- Add Banners -->
            <div class="add-banners">
                <ul id="add-banners-slider" class="add-banners-slider">
                    <li>
                        <a href="#"><img src="~/themes/default/images/add-banners/img-01.jpg" alt=""></a>
                    </li>
                    <li>
                        <a href="#"><img src="~/themes/default/images/add-banners/img-02.jpg" alt=""></a>
                    </li>
                    <li>
                        <a href="#"><img src="~/themes/default/images/add-banners/img-03.jpg" alt=""></a>
                    </li>
                </ul>
            </div>
            <!-- Add Banners -->
            <!-- Match Detail Content -->
            <div class="match-detail-content">
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                        <div class="row">

                            <!-- Next Matches -->
                            <div class="col-sm-4 col-xs-5 r-full-width">
                                <div class="next-matches">
                                    <h4>Next Match</h4>
                                    <div id="matches-detail-slider" class="matches-detail-slider">

                                        <!-- Item -->
                                        <div class="item matches-detail" style="background: url(https://undergrad.admissions.columbia.edu/sites/default/files/styles/inline_threequarterpage/public/w-soccer-team-celebration.jpg);">
                                            <div class="time-left">
                                                <ul id="countdown-1" class="countdown">
                                                    <li><span class="days">Monday</span>D:</li>
                                                    <li><span class="hours">10</span>H:</li>
                                                    <li><span class="minutes">00</span>M:</li>
                                                    <li><span class="seconds">00</span>S</li>
                                                </ul>
                                            </div>
                                            <span class="left-date">12/02/2021 / 19:00</span>
                                            <div class="team-btw-match">
                                                <ul>
                                                    <li>
                                                        <img src="https://image.shutterstock.com/image-vector/furious-bear-sport-vector-logo-260nw-608408264.jpg" alt="" style="width:36px; height:36px">
                                                        <span>Footbal<span>Team</span></span>
                                                    </li>
                                                    <li>
                                                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShbuS5QO0JCLsCyXVqZRjWbOdWyiVdHmuUUg&usqp=CAU" alt="" style="width:36px; height:36px">
                                                        <span>Super Team<span>Club</span></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- Item -->
                                        <!-- Item -->
                                        <div class="item matches-detail" style="background: url(~/themes/default/images/country-flags-bg.jpg);">
                                            <div class="time-left">
                                                <ul id="countdown-2" class="countdown">
                                                    <li><span class="days">00</span>D:</li>
                                                    <li><span class="hours">00</span>H:</li>
                                                    <li><span class="minutes">00</span>M:</li>
                                                    <li><span class="seconds">00</span>S</li>
                                                </ul>
                                            </div>
                                            <span class="left-date">12/02/2016 / 19:00</span>
                                            <div class="team-btw-match">
                                                <ul>
                                                    <li>
                                                        <img src="~/themes/default/images/team-logos/img-01.png" alt="">
                                                        <span>Footbal<span>Team</span></span>
                                                    </li>
                                                    <li>
                                                        <img src="~/themes/default/images/team-logos/img-02.png" alt="">
                                                        <span>Super Team<span>Club</span></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- Item -->

                                    </div>
                                </div>
                            </div>
                            <!-- Next Matches -->
                            <!-- Upcoming Fixture -->
                            <div class="col-sm-8 col-xs-7 r-full-width">
                                <h3><span><i class="red-color">UPCOMING </i>MATCHES</span><a class="view-all pull-right" href="/matchs">view all<i class="fa fa-angle-double-right"></i></a></h3>
                                <div class="upcoming-fixture">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="logo-width-name"><img src="https://image.freepik.com/free-vector/modern-sports-logo-template-with-flat-design_23-2147954941.jpg" alt="" style="width:36px; height:36px">LAHORE QALENDER</div>
                                                    </td>
                                                    <td class="upcoming-fixture-date"><span>6 Feb 2016 15:00</span></td>
                                                    <td>
                                                        <div class="logo-width-name w-icon"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUhg0ACG5IG47itVd5STMJ8naUt3pG1WYLRw&usqp=CAU" alt="" style="width:36px; height:36px">KARACHI</div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="logo-width-name"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnm3kMB-yVYkpezcx1tJ628QbcPr18zenyew&usqp=CAU" alt="" style="width:36px; height:36px">MULTAN</div>
                                                    </td>
                                                    <td class="upcoming-fixture-date"><span>6 Feb 2016 15:00</span></td>
                                                    <td>
                                                        <div class="logo-width-name w-icon"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUhg0ACG5IG47itVd5STMJ8naUt3pG1WYLRw&usqp=CAU" alt="" style="width:36px; height:36px">KARACHI</div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="logo-width-name"><img src="https://image.freepik.com/free-vector/modern-sports-logo-template-with-flat-design_23-2147954941.jpg" alt="" style="width:36px; height:36px">LAHORE QALENDER</div>
                                                    </td>
                                                    <td class="upcoming-fixture-date"><span>6 Feb 2016 15:00</span></td>
                                                    <td>
                                                        <div class="logo-width-name w-icon"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUhg0ACG5IG47itVd5STMJ8naUt3pG1WYLRw&usqp=CAU" alt="" style="width:36px; height:36px">KARACHI</div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="logo-width-name"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnm3kMB-yVYkpezcx1tJ628QbcPr18zenyew&usqp=CAU" alt="" style="width:36px; height:36px">MULTAN</div>
                                                    </td>
                                                    <td class="upcoming-fixture-date"><span>6 Feb 2016 15:00</span></td>
                                                    <td>
                                                        <div class="logo-width-name w-icon"><img src="https://image.freepik.com/free-vector/modern-sports-logo-template-with-flat-design_23-2147954941.jpg" alt="" style="width:36px; height:36px">LAHORE QALENDER</div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- Upcoming Fixture -->
                            <!-- Latest News -->
                            <div class="col-xs-12">
                                <div class="latest-news-holder">
                                    <h3><span>Latest News</span></h3>

                                    <!-- latest-news Slider -->
                                    <div class="row no-gutters white-bg">

                                        <!-- Slider -->
                                        <div class="col-sm-9">
                                            <ul id="latest-news-slider" class="latest-news-slider">
                                                <li>
                                                    <img src="~/themes/default/images/latest-news/img-01.jpg" alt="">
                                                    <p>Chelsea captain John Terry is not ready to start against Stoke on Saturday and is struggling to prove his fitness for next week's crunch...<a href="#">Read more</a></p>
                                                </li>
                                                <li>
                                                    <img src="~/themes/default/images/latest-news/img-02.jpg" alt="">
                                                    <p>Chelsea captain John Terry is not ready to start against Stoke on Saturday and is struggling to prove his fitness for next week's crunch...<a href="#">Read more</a></p>
                                                </li>
                                                <li>
                                                    <img src="~/themes/default/images/latest-news/img-03.jpg" alt="">
                                                    <p>Chelsea captain John Terry is not ready to start against Stoke on Saturday and is struggling to prove his fitness for next week's crunch...<a href="#">Read more</a></p>
                                                </li>
                                                <li>
                                                    <img src="~/themes/default/images/latest-news/img-04.jpg" alt="">
                                                    <p>Chelsea captain John Terry is not ready to start against Stoke on Saturday and is struggling to prove his fitness for next week's crunch...<a href="#">Read more</a></p>
                                                </li>
                                                <li>
                                                    <img src="~/themes/default/images/latest-news/img-01.jpg" alt="">
                                                    <p>Chelsea captain John Terry is not ready to start against Stoke on Saturday and is struggling to prove his fitness for next week's crunch...<a href="#">Read more</a></p>
                                                </li>
                                                <li>
                                                    <img src="~/themes/default/images/latest-news/img-02.jpg" alt="">
                                                    <p>Chelsea captain John Terry is not ready to start against Stoke on Saturday and is struggling to prove his fitness for next week's crunch...<a href="#">Read more</a></p>
                                                </li>
                                               
                                            </ul>
                                        </div>
                                        <!-- Slider -->
                                        <!-- Thumnail -->
                                        <div class="col-sm-3">
                                            <ul id="latest-news-thumb" class="latest-news-thumb">
                                                <li>
                                                    <p>Fancy footwork by Brito in build up to Atromitos</p>
                                                    <span>February 11, 2016</span>
                                                </li>
                                                <li>
                                                    <p>Fancy footwork by Brito in build up to Atromitos</p>
                                                    <span>February 11, 2016</span>
                                                </li>
                                                <li>
                                                    <p>Fancy footwork by Brito in build up to Atromitos</p>
                                                    <span>February 11, 2016</span>
                                                </li>
                                                <li>
                                                    <p>Fancy footwork by Brito in build up to Atromitos</p>
                                                    <span>February 11, 2016</span>
                                                </li>
                                                <li>
                                                    <p>Fancy footwork by Brito in build up to Atromitos</p>
                                                    <span>February 11, 2016</span>
                                                </li>
                                                <li>
                                                    <p>Fancy footwork by Brito in build up to Atromitos</p>
                                                    <span>February 11, 2016</span>
                                                </li>
                                                <li>
                                                    <p>Fancy footwork by Brito in build up to Atromitos</p>
                                                    <span>February 11, 2016</span>
                                                </li>
                                            </ul>
                                            <ul class="news-thumb-arrows">
                                                <li class="prev"><span class="fa fa-angle-up"></span></li>
                                                <li class="next"><span class="fa fa-angle-down"></span></li>
                                            </ul>
                                        </div>
                                        <!-- Thumnail -->

                                    </div>
                                    <!-- latest-news Slider -->

                                </div>
                            </div>
                            <!-- Latest News -->

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="row">

                            <!-- Last Match -->
                            <div class="col-lg-12 col-md-12 col-sm-5 col-xs-6 r-full-width">
                                <div class="last-matches theme-margin-bottom win-tag">
                                    <h4>Last Match</h4>
                                    <div class="matches-detail style-2" style="background: url(https://cdn.theathletic.com/app/uploads/2020/12/01220535/Lamb-Getty-1024x683.jpg);">
                                        <p>islambad 12/02/2021 / 19:00</p>
                                        <div class="team-btw-match">
                                            <ul>
                                                <li>
                                                    <img src="https://www.broadage.com/Uploads/broadage-sports-mobile-hero.png" alt="" style="width:105px; height:105px">
                                                    <span>lahore</span>
                                                </li>
                                                <li>
                                                    <img src="https://bloximages.newyork1.vip.townnews.com/nny360.com/content/tncms/assets/v3/editorial/d/2a/d2af3676-e626-11ea-b54d-137e2d28e797/5f43eaa4953d9.image.jpg" alt="" style="width:105px; height:105px">
                                                    <span>islamabad</span>
                                                </li>
                                            </ul>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                            <!-- Last Match -->
                            <!-- Last Match -->
                           

                            <!-- Last Match -->

                        </div>
                    </div>
                </div>
            </div>
            <!-- Match Detail Content -->

        </div>
    </section>
    <!-- Match Detail -->
    <!-- Player Features And History -->
    <section class="red-section" style=" background: url(~/themes/default/images/red-bg.jpg) no-repeat;">

        <!-- Red Section Heading -->
        <div class="red-sec-heading">
            <div class="container">
                <h5>Player Features</h5>
            </div>
        </div>
        <!-- Red Section Heading -->
        <!-- Red saection Content -->
        <div class="container">
            <div class="row">

                <!-- Player Featuer -->
                <div class="col-sm-6">
                    <div class="theme-padding top-profiler">
                        <img class="player-img animate fadeInLeft" data-wow-delay="0.2s" src="~/themes/default/images/player-img.png" alt="">

                    </div>
                </div>
                <!-- Player Featuer -->
                <!-- Player History -->
                <div class="col-sm-6">
                    <ul id="video-slider" class="video-slider">
                        <li class="red-sec-widget player-history h-white p-white">
                            <h3>Related Match</h3>
                            <p>The wait for a major title is weighing heavily on Argentina, and it showed as they lost again to Chile, Tim Vickery writes</p>
                            <div class="player-video-sec">
                                <div class="video video-post">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUL81psN5sBFoqIKOyyPuv1QYCNYeKZsDthA&usqp=CAU" alt="">
                                    <span class="play-lable fa fa-video-camera"></span>
                                    <a class="position-center-center play-icon" href="https://www.youtube.com/watch?v=kK9sb83njRg" data-rel="prettyPhoto[video]"><i class="fa fa-video-camera"></i></a>
                                </div>
                            </div>
                        </li>
                        <li class="red-sec-widget player-history h-white p-white">
                            <h3>Related Match</h3>
                            <p>The wait for a major title is weighing heavily on Argentina, and it showed as they lost again to Chile, Tim Vickery writes</p>
                            <div class="player-video-sec">
                                <div class="video video-post">
                                    <img src="~/themes/default/images/video-bg-2.jpg" alt="">
                                    <span class="play-lable fa fa-video-camera"></span>
                                    <a class="position-center-center play-icon" href="http://www.youtube.com/watch?v=cH6kxtzovew" data-rel="prettyPhoto[video]"><i class="fa fa-video-camera"></i></a>
                                </div>
                            </div>
                        </li>
                        <li class="red-sec-widget player-history h-white p-white">
                            <h3>Related Match</h3>
                            <p>The wait for a major title is weighing heavily on Argentina, and it showed as they lost again to Chile, Tim Vickery writes</p>
                            <div class="player-video-sec">
                                <div class="video video-post">
                                    <img src="~/themes/default/images/video-bg-3.jpg" alt="">
                                    <span class="play-lable fa fa-video-camera"></span>
                                    <a class="position-center-center play-icon" href="http://www.youtube.com/watch?v=cH6kxtzovew" data-rel="prettyPhoto[video]"><i class="fa fa-video-camera"></i></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- Player History -->

            </div>
        </div>
        <!-- Red saection Content -->

    </section>
    <!-- Player Features And History -->
    <!-- Facts Accounter -->
    <div class="facts-acounter">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 pull-right">
                    <ul class="facts-list-acounter" id="tc-counters">
                        <li>
                            <strong class="facts-number" data-from="0" data-to="550" data-speed="1000"></strong>
                            <span>Possession</span>
                        </li>
                        <li>
                            <strong class="facts-number" data-from="0" data-to="30" data-speed="2000"></strong>
                            <span>Team Members</span>
                        </li>
                        <li>
                            <strong class="facts-number" data-from="0" data-to="158" data-speed="3000"></strong>
                            <span>Match win</span>
                        </li>
                        <li>
                            <strong class="facts-number" data-from="0" data-to="199" data-speed="4000"></strong>
                            <span>football Shots</span>
                        </li>
                        <li>
                            <strong class="facts-number" data-from="0" data-to="1254" data-speed="5000"></strong>
                            <span>Stadium Security</span>
                        </li>
                        <li>
                            <strong class="facts-number" data-from="0" data-to="32" data-speed="6000"></strong>
                            <span>Match Fouls</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Facts Accounter -->
    <!-- Gallery And Team -->
    <div class="theme-padding gallery-holder">

        <!-- Gallery v-3 -->
        <div class="theme-padding-bottom">
            <div class="container">

                <!-- Main Heading -->
                <h3><span>Match Gallery</span></h3>
                <!-- Main Heading -->
                <!-- Gallery Columns -->
                <div class="gallery">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12 r-full-width p-0">
                                <figure class="gallery-figure">
                                    <img src="~/themes/default/images/gallery-v3/img-01.jpg" alt="">
                                    <figcaption class="overlay">
                                        <div class="position-center-center">
                                            <ul class="btn-list">
                                                <li><a href="~/themes/default/images/gallery-v3/img-1-1.jpg" data-rel="prettyPhoto[gallery-v3]"><i class="fa fa-search"></i></a></li>
                                                <li><a class="fa fa-eye" href="#"></a></li>
                                            </ul>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="col-sm-6 col-xs-6 r-full-width p-0">
                                <figure class="gallery-figure">
                                    <img src="~/themes/default/images/gallery-v3/img-02.jpg" alt="">
                                    <figcaption class="overlay">
                                        <div class="position-center-center">
                                            <ul class="btn-list">
                                                <li><a href="~/themes/default/images/gallery-v3/img-1-2.jpg" data-rel="prettyPhoto[gallery-v3]"><i class="fa fa-search"></i></a></li>
                                                <li><a class="fa fa-eye" href="#"></a></li>
                                            </ul>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="col-sm-6 col-xs-6 r-full-width p-0">
                                <figure class="gallery-figure">
                                    <img src="~/themes/default/images/gallery-v3/img-03.jpg" alt="">
                                    <figcaption class="overlay">
                                        <div class="position-center-center">
                                            <ul class="btn-list">
                                                <li><a href="~/themes/default/images/gallery-v3/img-1-3.jpg" data-rel="prettyPhoto[gallery-v3]"><i class="fa fa-search"></i></a></li>
                                                <li><a class="fa fa-eye" href="#"></a></li>
                                            </ul>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-6 col-xs-6 r-full-width p-0">
                                <figure class="gallery-figure">
                                    <img src="~/themes/default/images/gallery-v3/img-04.jpg" alt="">
                                    <figcaption class="overlay">
                                        <div class="position-center-center">
                                            <ul class="btn-list">
                                                <li><a href="~/themes/default/images/gallery-v3/img-1-4.jpg" data-rel="prettyPhoto[gallery-v3]"><i class="fa fa-search"></i></a></li>
                                                <li><a class="fa fa-eye" href="#"></a></li>
                                            </ul>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="col-sm-6 col-xs-6 r-full-width p-0">
                                <figure class="gallery-figure">
                                    <img src="~/themes/default/images/gallery-v3/img-05.jpg" alt="">
                                    <figcaption class="overlay">
                                        <div class="position-center-center">
                                            <ul class="btn-list">
                                                <li><a href="~/themes/default/images/gallery-v3/img-1-5.jpg" data-rel="prettyPhoto[gallery-v3]"><i class="fa fa-search"></i></a></li>
                                                <li><a class="fa fa-eye" href="#"></a></li>
                                            </ul>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="col-sm-12 col-xs-12 r-full-width p-0">
                                <figure class="gallery-figure">
                                    <img src="~/themes/default/images/gallery-v3/img-06.jpg" alt="">
                                    <figcaption class="overlay">
                                        <div class="position-center-center">
                                            <ul class="btn-list">
                                                <li><a href="~/themes/default/images/gallery-v3/img-1-6.jpg" data-rel="prettyPhoto[gallery-v3]"><i class="fa fa-search"></i></a></li>
                                                <li><a class="fa fa-link" href="#"></a></li>
                                            </ul>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Gallery Columns -->

            </div>
        </div>
        <!-- Gallery v-3 -->
        <!-- Separator -->
        <div class="container text-center">
            <span class="sprater"><i class="fa fa-futbol-o"></i></span>
        </div>
        <!-- Separator -->
        <!-- Team -->
        <div class="container">
            <div class="team-holder theme-padding-top">

                <!-- Main Heading -->
                <div class="main-heading-holder">
                    <div class="main-heading">
                        <h2>our Team member</h2>
                        <p>Our Team member of Sportszone.</p>
                    </div>
                </div>
                <!-- Main Heading -->
                <!-- Team Row -->
                <div id="team-slider" class="team-slider">

                    <!-- Team Column -->
                    <div class="item">
                        <div class="team-column">
                            <img src="~/uploads/media/zia.jpg" style="height:370px" alt="">
                            <span class="player-number">12</span>
                            <div class="team-detail">
                                <h5><a href="#">Zia ur Rehman</a></h5>
                                <span class="desination">Project Manager</span>
                                <div class="detail-inner">
                                    <ul>
                                        <li>Name</li>
                                        <li>Education</li>
                                        <li>Number</li>
                                        
                                        <li>Fallow us on</li>
                                    </ul>
                                    <ul>
                                        <li>Zia</li>
                                        <li>Bscs</li>
                                        <li>03023545618</li>
                                        <li>Email</li>
                                        <li>
                                            <ul class="social-icons">
                                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a class="youtube" href="#"><i class="fa fa-youtube-play"></i></a></li>
                                                <li><a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Team Column -->
                    <!-- Team Column -->
                    <div class="item">
                        <div class="team-column">
                            <img src="~/uploads/media/jabbar.jpg" style="height:370px" alt="">
                            <span class="player-number">12</span>
                            <div class="team-detail">
                                <h5><a href="#">Abdul Jabbar</a></h5>
                                <span class="desination">Project Manager</span>
                                <div class="detail-inner">
                                    <ul>
                                        <li>Name</li>
                                        <li>Education</li>
                                        <li>Number</li>
                                        <li>-</li>
                                        <li>Fallow us on</li>
                                    </ul>
                                    <ul>
                                        <li>AbdulJabbar</li>
                                        <li>Bscs</li>
                                        <li>-</li>
                                        <li>Email</li>
                                        <li>
                                            <ul class="social-icons">
                                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a class="youtube" href="#"><i class="fa fa-youtube-play"></i></a></li>
                                                <li><a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Team Column -->
                    <!-- Team Column -->
                    <div class="item">
                        <div class="team-column">
                            <img src="http://ww3.comsats.edu.pk/faculty/FacultyPics/16_04_2018_11_29_16_1497641.jpg" style="height:370px" alt="">
                            <span class="player-number">12</span>
                            <div class="team-detail">
                                <h5><a href="#">Salman Malik</a></h5>
                                <span class="desination">Assistant Professor</span>
                                <div class="detail-inner">
                                    <ul>
                                        <li>Born</li>
                                        <li>Position</li>
                                        <li>Squad Number</li>
                                        <li>Previous Club</li>
                                        <li>Fallow us on</li>
                                    </ul>
                                    <ul>
                                        <li>August 31, 1988</li>
                                        <li>Goalkeeper</li>
                                        <li>13</li>
                                        <li>Atletico Nacional</li>
                                        <li>
                                            <ul class="social-icons">
                                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a class="youtube" href="#"><i class="fa fa-youtube-play"></i></a></li>
                                                <li><a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Team Column -->
                    <!-- Team Column -->
                    <div class="item">
                        <div class="team-column">
                            <img src="http://ww3.comsats.edu.pk/faculty/FacultyPics/02_05_2017_12_43_07_1394814.jpg" style="height:370px" alt="">
                            <span class="player-number">12</span>
                            <div class="team-detail">
                                <h5><a href="#">Ali Shahid Malik</a></h5>
                                <span class="desination">Defender</span>
                                <div class="detail-inner">
                                    <ul>
                                        <li>Born</li>
                                        <li>Position</li>
                                        <li>Squad number</li>
                                        <li>Previous Club</li>
                                        <li>Fallow us on</li>
                                    </ul>
                                    <ul>
                                        <li>August 31, 1988</li>
                                        <li>Goalkeeper</li>
                                        <li>13</li>
                                        <li>Atletico Nacional</li>
                                        <li>
                                            <ul class="social-icons">
                                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a class="youtube" href="#"><i class="fa fa-youtube-play"></i></a></li>
                                                <li><a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Team Column -->

                </div>
                <!-- Team Row -->

            </div>
        </div>
        <!-- Team -->

    </div>
    <!-- Gallery And Team -->
 

</main>